.grilledMenuCol1 {
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
}
.grilledMenuCol2 {
  display: inline-block;
  margin-left: 100px;
  position: relative;
  right: 20px;
  top: 50px;
}
.grilledMenuCol3 {
    display: inline-block;
    margin-left: 100px;
    position: relative;
    right: 30px;
    top: 50px;
  }
.salatsMenuGrilledTitle {
  width: 100%;
  margin-right: 30px;
  font-size: 1.5.rem;
  color: #662302;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.menuGrilledBreads1 {
  position: relative;
  top: 50px;
  right: 67px;
}
.menuGrilledBreads2 {
  position: relative;
  top: 50px;
  right: 185px;
}
.menuGrilledMeet1 {
  position: relative;
  top: 52px;
  right: 62px;
}
.menuGrilledMeet2 {
  position: relative;
  top: 52px;
  right: 82px;
}
.menuGrilledExtras1 {
    position: relative;
    top: 52px;
    right: 90px;
  }
  .menuGrilledExtras2 {
    position: relative;
    top: 52px;
    right: 195px;
  }
.orderFormGrilledMenu {
  position: relative;
  right: 60px;
}
.CommentsToOrderGrilledMenu {
  height: 100px;
  border: 1px solid #662302;
}
.buttonGrilledSendOrder {
  width: 150px;
  border: none;
  text-align: center;
  background-color: #662302;
  position: relative;
  right: 350px;
}
.FormGrilledStyle {
  border: 1px solid #662302;
}
