.headerGrilled {
  background-color: black;
  height: 114px;
}
.titleGrilled {
  color: brown;
  display: inline-block;
  text-align: right;
  position: relative;
  top: 150px;
  left: 520px;
  font-size: 46px;
  font-family: sans-serif;
}
.grilledP {
  width: 100%;
  font-family: "Heebo", Sans-serif;
  font-size: 19px;
  text-align: right;
  color: black;
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.5px;
  position: relative;
  top: 10px;
}

.buttongrilledDiv {
  position: relative;
  float: right;
}
.buttonGrilled {
  font-size: 17px;
  font-weight: 300;
  fill: #ffffff;
  color: #ffffff;
  background-color: #662302;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #662302;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 12px 10px 12px;
}
.buttonGrilled:hover {
  text-decoration: none;
  color: #eeff00;
  background-color: #662302;
  transform: scale(1.1);
  outline: -webkit-focus-ring-color auto 1px;
  transition-duration: 0.3s;
  transition-property: transform;
}
.grilledpic1 {
  float: left;

  position: relative;
  top: -220px;
  left: 30px;
}
.CarouselImagesGrilled {
  width: 100%;
  float: left;
  position: relative;
  bottom: 100px;
}
.imgGrilled {
  margin: auto;
  width: 100%;
  padding: 10px;
}
