.headerAbout {
  height: 750px;
  width: 100%;
  background-image: url("../images/aboutpic2.jpg");
}

.titleAbout {
  color: white;
  text-align: right;
  position: relative;
  padding-top: 70px;
  margin-right: 100px;
  font-size: 46px;
  font-family: sans-serif;
}
.aboutDetailsP {
  text-align: right;
  width: 38%;
  display: block;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  color: #ffffff;
  font-family: "Heebo", Sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.5px;
}
