.EventsMenuCol1 {
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
}
.EventsMenuCol2 {
  display: inline-block;
  position: relative;
  left: 30px;
  top: 50px;
}
.EventsMenuCol3 {
    display: inline-block;
    position: relative;
    right: 50px;
    top: 52px;
  }
.MenuEventsTitle {
    width: 100%;
  margin-right: 30px;
  font-size: 1.5.rem;
  color:#662302;
  font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.menuEventsVegetarianCol2{
    position: relative;
    top: 50px;
    right: 2px;
}
.menuEventsVegetarianCol3{
    position: relative;
    top: 50px;
    right: 22px;
    
}
.menuEventsMeetFishCol2{
    position: relative;
    top: 52px;
    left: 13px;
    
}
.menuEventsMeetFishCol3{
    position: relative;
    top: 52px;
    right: 29px;
}
.menuEventsMeetCol2{
    position: relative;
    top: 52px;
    right: 40px;
}
.menuEventsMeetCol3{
    position: relative;
    top: 52px;
    right: 68px;
}
.menuEventsExtrasCol2{
    position: relative;
    top: 50px;
    right: 84px;
}
.menuEventsExtrasCol3{
    position: relative;
    top: 52px;
    right: 123px;
}
.menuEventsSpecialOfShabbatCol2{
    position: relative;
    top: 52px;
    right: 60px;
}
.menuEventsSpecialOfShabbatCol3{
    position: relative;
    top: 52px;
    right: 100px;
}
.EventsMenuBreadsCol2{
    position: relative;
    top: 52px;
    right: 55px;
}
.EventsMenuBreadsCol3{
    position: relative;
    top: 52px;
    right: 138px;
}
.orderFormEventsMenu{
    position: relative;
    right: 60px;
    
}
.CommentsToOrderEventsMenu{
    height: 100px;
    border: 1px solid #662302;
}
.buttonSendEventsOrder{
    width: 150px;
    border: none;
    text-align: center;
    background-color: #662302;
    position: relative;
    right: 350px;
}
.FormStyleEventsMenu{
    border: 1px solid #662302;
}