.col1 {
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
}
.col2 {
  display: inline-block;
  margin-left: 100px;
  position: relative;
  top: 52px;
}
#salatsMenuTitle {
    width: 100%;
  margin-right: 30px;
  font-size: 1.5.rem;
  color:#662302;
  font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.menuBasicVegetarian1{
    position: relative;
    top: 50px;
    right: 11px;
}
.menuBasicVegetarian2{
    position: relative;
    top: 50px;
    right: 52px;
    
}
.menuBasicMeetFish1{
    position: relative;
    top: 52px;
    left: 5px;
    
}
.menuBasicMeetFish2{
    position: relative;
    top: 52px;
    right: 60px;
}
.menuBasicMeet1{
    position: relative;
    top: 52px;
    right: 73px;
}
.menuBasicMeet2{
    position: relative;
    top: 52px;
    right: 120px;
}
.menuBasicExtras1{
    position: relative;
    top: 52px;
    right: 105px;
}
.menuBasicExtras2{
    position: relative;
    top: 52px;
    right: 160px;
}
.menuBasicSpecialOfShabbat1{
    position: relative;
    top: 52px;
    right: 92px;
}
.menuBasicSpecialOfShabbat2{
    position: relative;
    top: 52px;
    right: 150px;
}
.menuBasicOfBreadsCol2{
    position: relative;
    top: 52px;
    right: 118px;
}
.menuBasicOfBreadsCol3{
    position: relative;
    top: 52px;
    right: 220px;
}
.orderFormBasicMenu{
    position: relative;
    right: 60px;
    
}
.CommentsToOrderBasicMenu{
    height: 100px;
    border: 1px solid #662302;
}
.buttonSendOrder{
    width: 150px;
    border: none;
    text-align: center;
    background-color: #662302;
    position: relative;
    right: 350px;
}
.FormStyle{
    border: 1px solid #662302;
}