.headerContact{
    background-color: black;
    height: 114px;
}
.contactConteiner{
    width: 100%;
    float:right;
    margin-left: auto;
    margin-right: auto;
  }
  .contactTitle{
    direction: rtl;
    text-align: right;
    position: relative;
    font-size: 40px;
    font-family: "Heebo", Sans-serif;
    font-weight: 400;
    line-height: 1;
    top: 120px;
    right: 40px;
  }
  .ContactForm{
    width: 50%;
    position: relative;
    right: 30px;
    bottom: 250px;
    direction: rtl;
    text-align: center;
    float: right;
}
.WriteAMassage{
  height: 100px;
  border: 1px solid #662302;
}
.ButtonSendAMassage{
  width: 150px;
  border: none;
  text-align: center;
  position: relative;
  right: 262px;
  bottom: 20px;
  background-color: #662302;
  position: relative;
}
.FormStyleContact{
  border: 1px solid #662302;
}
.contactImage{
  width: 600px;
  height: 450px;
  position: relative;
  top: 80px;
  left: 20px;
}
.iconsContact{
  font-size: 25px;
  color: black;
  float: right;
  position: relative;
  left: 620px;
  margin-left: 10px;
}
.contactDetails{
  color: #000000;
    font-family: "Rubik", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2em;
    float: right;
    position: relative;
    left: 760px;
    top: 60px;
    text-align: right;
}