.headerContact{
    background-color: black;
    height: 114px;
}
.contactConteiner{
    width: 100%;
    float:right;
    margin-left: auto;
    margin-right: auto;
  }
  .contactTitle{
    direction: rtl;
    text-align: right;
    position: relative;
    font-size: 40px;
    font-family: "Heebo", Sans-serif;
    font-weight: 400;
    line-height: 1;
    top: 80px;
    right: 150px;
  }
  .contactForm{
    text-align: right;
    direction: rtl;
    position: relative;
    top: 100px;
    right: 150px;
    background-color: rgba(0, 0, 0, 0);
    
    display: block;
    
    
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: "Heebo", Sans-serif;
    
    
  }