
.titleEvents {
  width: 100%;
  color:brown;
  text-align: right;
  font-size: 46px;
  font-family: sans-serif;
  margin-top: 50px;
  padding-right: 50px;  
}
.eventsP{
  width: 100%;
  font-family: "Heebo", Sans-serif;
  font-size: 19px;
  text-align: right;
  color: black;
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.0em;
  letter-spacing: 0.5px;
  padding-top: 8px;
}

.buttonEvents{
  font-size: 17px;
  font-weight: 300;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #662302;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #662302;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 12px 10px 12px;
}
.buttonEvents:hover{
  text-decoration: none;
  color: #eeff00;
  background-color: #662302;
  transform: scale(1.1);
  outline: -webkit-focus-ring-color auto 1px;
  transition-duration: .3s;
  transition-property: transform;
}
.eventspic1{
  margin-left: 20px;
  margin-top: 50px;
  padding-bottom: 4px;
}
.CarouselImagesEvents{
  width: 100%;
  margin-top: 50px;
  
}
.imgEvents{
  margin: auto;
  width: 100%;
  padding: 10px;
}