* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.homeTitle {
  border: none;
  width: 100%;
  height: 700px;
  color: white;
  background-image: url("../images/backgroundhome.jpg");
}
.homeTitleH1 > h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.buttonDiv {
  animation-duration: 2s;
  animation-name: slidein1;
}
@keyframes slidein1 {
  from {
    margin-top: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
.homeTitleH1 {
  color: white;
  float: right;
  text-align: right;
  margin-top: 150px;
  margin-right: 80px;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.1em;
  font-family: "Heebo", Sans-serif;
}
.buttonEvents {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
  fill: #d0a233;
  color: #d0a233;
  background-color: rgb(255, 255, 255, 0.01);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 2px;
  padding: 15px 12px 15px 13px;
}
.buttonEvents:hover {
  text-decoration: none;
  color: #e0a800;
}
.buttonDiv {
  margin-top: 80px;
}

.content-home{
  margin-right: 20px;
}

.homeDetails {
  
  font-size: 40px;
  font-weight: 200;
  line-height: 1.1em;
  font-family: "Heebo", Sans-serif;
  color: #7f0909;
  text-align: right;
  margin-top: 70px;
  margin-bottom: 30px;
  
}
.homeP  {
  
  font-size: 17px;
  text-align: right;
  padding-bottom: 20px;
  
}
.aboutLink {
  font-size: 19px;
  font-weight: 300;
  fill: #662302;
  color: #662302;
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #662302;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 6px 0px;
}
.aboutLink:hover {
  text-decoration: none;
  color: #ffa500;
}
.homePics {
  margin-top: 50px;
  margin-left: 20px;
  width: 95%;
  box-sizing: border-box;
}
.homePic2 {
  width: 100%;
  
  
}
.homePic3 {
  width: 100%;
  margin-top: 50px;
  
}
.homeButtom {
  width: 100%;
  
  max-height: 350px;
  background-color: black;
  margin-top: 50px;
  padding: 50px 50px 50px 50px;
}
.homeButtom1 {
  width:100%;
  height: 350px;
  background-color: black;

  padding: 50px 50px 50px 50px;
}

.homeButtomH2 {
  color: #ffffff;
  font-family: "Heebo", Sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.1em;
  text-align: center;
  margin: 0;
}
.homeButtom1H2 {
  color: #ffffff;
  font-family: "Heebo", Sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.1em;
  text-align: center;
  margin-top: 10px;
}
.homeButtomDiv {
  width: 80%;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
  font-family: "Heebo", Sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin-left: 60px;
  padding-left: 10px;
}
@media screen and (max-width:600px) {
  .homeDetails{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    
    
  }
 .homeP{
   text-align: center;
   font-size: 13px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .homePics{
   display: none;
 }
 .aboutLink{
   font-size: 14px;
   margin-bottom: 10px;
 } 
 .homeButtomDiv{
   font-size: 14px;
   
 }
 .homeButtom1H2{
   margin-top: 50px;
 }
}
@media screen and (max-width:1200px){
  .homeButtom{
    padding: 25px;
    
  }
  .homeButtom1{
    padding: 25px;
    
  }
  .homeButtomH2{
    font-size:30px ;
  }
  .homeButtom1H2{
    font-size:30px ;
  }
  
  
}