.Order{
  flex-grow: 1;
}
.OrderTitle {
  color: brown;
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 35px;
  font-family: "Heebo", Sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.imgLinks {
  width: 75%;
  height: 310px;
  margin-top: 130px;
  margin-bottom: 150px;
  margin-left: 70px;
  border: 1px solid black;
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .imgLinks {
    width: 80%;
    height: 290px;
    margin-left: 50px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 980px) {
  .imgLinks {
    width: 84%;
    height: 250px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 748px) {
  .imgLinks {
    width: 90%;
    height: 220px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 600px) {
  .imgLinks {
    width: 95%;
    height: 360px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .OrderTitle {
    margin-bottom: 60px;
  }
}
