.ProductCheckbox {
  width: 320px;
  text-align: right;
  direction: rtl;
  margin-right: 15px;
  box-sizing: border-box;
}
.productTitle {
  text-align: right;
  margin-right: 50px;
}
.orderFormMenu {
  width: 85%;
  direction: rtl;
  text-align: right;
}
.CommentsToOrderMenu {
  height: 100px;
  border: 1px solid #7f0909;
}
.buttonSendOrder {
  width: 150px;
  border: none;
  text-align: center;
  background-color: #7f0909;
  margin-right: 325px;

  margin-bottom: 100px;
}
.FormStyle {
  border: 1px solid #7f0909;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .buttonSendOrder {
    margin-right: 300px;
  }
}
@media screen and (max-width: 720px) {
  .buttonSendOrder {
    margin-right: 150px;
  }
}
@media screen and (max-width: 600px) {
  .orderFormMenu {
    width: 100%;
  }
  .FormStyle {
    font-size: 14px;
    margin-right: 50px;
  }
  .CommentsToOrderMenu {
    font-size: 14px;
    margin-right: 50px;
  }
  .buttonSendOrder {
    font-size: 14px;
  }
}
