.ProductCheckbox{
    width: 320px;
    text-align: right;
    direction: rtl;
    position: relative;
    right: 30px;
    float: right;
}
.saladsTitle{
    text-align: right;
    position: relative;
    right: 50px;
}
.orderFormBasicMenu{
    width: 75%;
    position: relative;
    right: 40px;   
}
.CommentsToOrderBasicMenu{
    height: 100px;
    border: 1px solid #662302;
}
.buttonSendOrder{
    width: 150px;
    border: none;
    text-align: center;
    background-color: #662302;
    position: relative;
    right: 340px;
}
.FormStyle{
    border: 1px solid #662302;
}