.RecommendationsTitle {
  color: #7f0909;
  text-align: center;
  margin-top: 50px;
  font-size: 46px;
  font-family: sans-serif;
  box-sizing: border-box;
}
.RecommendationsCarousel {
  text-align: center;
  width: 50%;
  height: 400px;
  color: white;
  background-color: black;
  direction: rtl;
  margin-top: 50px;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
  left: 350px;
}
.textCarousel {
  width: 50%;
  direction: rtl;
  text-align: center;
  position: relative;
  right: 170px;
  top: 40px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
  box-sizing: border-box;
}
.RecommendationsFooter {
  color: #ffa500;
  font-family: "Heebo", Sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}
.RecommendationsForm {
  width: 60%;
  position: relative;
  left: 280px;
  direction: rtl;
  text-align: center;
  margin-top: 40px;
  box-sizing: border-box;
}
.WriteARecommendation {
  height: 100px;
  border: 1px solid #7f0909;
}
.ButtonSendARecommendation {
  width: 20%;
  border: none;
  text-align: center;
  background-color: #7f0909;
  position: relative;
}
.ButtonSendARecommendation:hover {
  background-color: #ffa500;
}
.FormStyleRecommendations {
  border: 1px solid #7f0909;
}
@media screen and (max-width: 1200px) {
  .RecommendationsCarousel {
    
    position: relative;
    left: 300px;
  }
  .textCarousel {
    position: relative;
    right: 130px;
  }
}
@media screen and (max-width: 980px) {
  .textCarousel {
    margin-top: 0;
    font-size: 16px;
    position: relative;
    right: 120px;
  }
  .RecommendationsCarousel {
    position: relative;
    left: 250px;
  }
}
@media screen and (max-width: 748px) {
  .RecommendationsForm {
    position: relative;
    left: 80px;
    width: 80%;
  }
  .RecommendationsCarousel {
    width: 100%;
    position: relative;
    left: 0;
  }
  .ButtonSendARecommendation {
    width: 35%;
  }
  .RecommendationsForm {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
    display: block;
    padding: 10px;
  }
}
